*{
  font-family:'Ubuntu';
}

body {
    font-family: 'Ubuntu';
    text-align: center;
  }
  
  .container-fluid {
    padding: 1% 15%;
  }
  
  .colored-section{
    background-color: #FAF3E0;
    color: #B22222;
  }
  
  .navbar{
    padding: 0 0 2rem;
    
  }
  .navbar-brand{
    font-family: "Ubuntu";
    font-size: 2rem;
    font-weight: bold;
    color: #B22222
  }
  .nav-item{
    padding: 0px 18px;
    text-align: right; 
  }
  .nav-link{
    font-family: "Ubuntu";
    font-size: 1.2rem;
    font-weight: 100;
    color: #B22222
  }
  
.contactus{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.center {
  text-align: center;
  color: #B22222;
}

.padding-32 {
  padding-top: 32px;
  padding-bottom: 32px;
  margin: 20px;
}

.title {
  font-weight: bold;
  margin-bottom: 14px;
}

.img {
  margin: auto;
  margin-top: 100px;
  background-color: white;
  box-shadow: 5px 6px 6px rgba(white, white, white, alpha);
  border-radius: 1.4rem;
  height: 65vh;
  width: 25vw;
  padding: 1em;
  text-align: center;
  align-items: center;    
}

.img1 {
  margin: auto;
  margin-top: 100px;
  background-color: white;
  box-shadow: 5px 6px 6px rgba(white, white, white, alpha);
  border-radius: 1.4rem;
  height: 65vh;
  width: 25vw;
  padding: 1em;
  text-align: center;
  align-items: center;    
}

.img2 {
  margin: auto;
  margin-top: 100px;
  background-color: white;
  box-shadow: 5px 6px 6px rgba(white, white, white, alpha);
  border-radius: 1.4rem;
  height: 65vh;
  width: 25vw;
  padding: 1em;
  text-align: center;
  align-items: center;    
}

.container{
  flex-wrap: wrap;
  display: flex;
  position: relative;
  padding: 35px;
  margin-top: -140px;
  margin-bottom: 200px;
}

.picture{
  border-radius: 1.4rem;
}

iframe {
  width: 100%;
  height: 100%;
}
footer {
  background-color: #FDF5E6;
  color: #B22222 ;
  display: flex;
  justify-content: space-evenly;

}

.container-footer{
  margin: auto;
  text-align: left;
}

.map{
  width: 500px;
  height: 350px;
}

.nav-avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fbc02d;
}

.nav-username {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}