body {
  background: linear-gradient(135deg, #e93c3ce3, #f0a00c, #f1c913);
}

.cart-box {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.btn-pay {
  background-color: #e53935;
  color: white;
}


.cart-summary {
  background: #fff;
  border-radius: 10px;
  padding: 15px 20px;
  margin-top: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

.cart-summary p {
  margin: 6px 0;
  font-size: 16px;
}

.cart-summary h5 {
  margin-top: 10px;
  font-weight: bold;
  color: #d32f2f;
}


.btn-voucher {
  background: linear-gradient(135deg, #ff9800, #ff5722);
  color: white;
  font-weight: bold;
  border-radius: 25px;
  padding: 8px 22px;
  border: none;
  transition: 0.3s;
}

.btn-voucher:hover {
  background: linear-gradient(135deg, #ff5722, #b30000);
}


.btn-pay {
  border-radius: 25px;
  font-weight: bold;
  padding: 10px 26px;
}

.btn-pay:hover {
  background-color: #c62828;
}

/* SUMMARY */
.summary {
  margin-top: 30px;
  background: #fff7e6;
  border-radius: 8px;
  padding: 20px;
}

.summary p {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin: 8px 0;
}

.summary hr {
  border: none;
  height: 1px;
  background: #ddd;
  margin: 15px 0;
}

.summary h3 {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  color: #e53935;
}