* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.box {
    width: 500px;
    background-color: #ffff;
    box-shadow: 6px 5px 6px rgb(0,0,0,0.16);
    border-radius: 12px;
    padding: 3.5rem;
    color: #030303;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;
    padding-bottom: 16px;
}

h4 {
    font-weight: 600;
    font-size: 22px;
    padding-bottom: 4px;
}

.text_box{
    padding: 14px 0px;
}

input{
    width: 80%;
    border: none;
    border-bottom: 2px solid rgb(250, 225, 218);
    outline: none;
    font-size: 18px;
}

input:focus{
    background-color: #ffff;
}

button{
    width: 100%;
    border: none;
    font-size: 22px;
    color: rgba(240, 181, 158, 0.999);
    padding: 5px,0px;
    margin: 10px 0px 25px 0px;
    background-color: rgb(248, 246, 239);
    cursor: pointer;
}

.alert{
    font-size: 19px;
    cursor: pointer;
    font-style: italic;
}


div a{
    text-decoration: none;
    color: #030303;
}

.container-fluid{
    background-color: #f1cdd2;
    color: rgb(255, 138, 138);
}

.navbar{
    padding: 0 0 1.5rem;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2rem;
    font-weight: bold;
  }
  .nav-item{
    padding: 0px 18px;
    text-align: right;  
  }
  .nav-link{
    font-family: "Ubuntu";
    font-size: 1.2rem;
    font-weight: 100;
  }
  
.contactus{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

div h1{
    color:#B22222 ;
  }

.close{
    color:#FAF3E0 ;
}